:root {
    scroll-behavior: smooth;
    --primary-color: #131b22;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


main {
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    overflow-x: hidden;
}



div[id] {
    scroll-margin-top: 150px;
    
}

/* 2. Parrafos */
p {
    margin-bottom: 1.2rem;

    max-width: 75ch;
    color: #2e2d2d;
    /* longitud ideal del texto (~70 caracteres) */
    text-align: left;
}

.contact-description {
    padding: 1rem;
}

/* 3. Títulos */
h1,
h2,
h3 {
    color: #333;
    font-weight: 700;
    line-height: 1.3;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3.3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;

}

/* regla par todos los divs */

div:not([class*="fslightbox"]):not([class*="cv-container"]):not([class*="description-container"]):not([class*="bar"]):not(.header div) {
    margin: 1rem;
}
/* content */
.content {
    display: grid;
}

.profile-img {
    border-radius: 50%;
    width: 100%;
    height: auto;
    max-width: 350px;
}

.inf-container,
.contact-container,
.profile-container {
    text-align: center;
}

.contact-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.contact-container a {
    margin: .75rem;
}


.contact-email-link {
    background-color: #D93025;
    color: #fff;
}

.contact-github-link {
    background-color: white;
    color: black;
}

.contact-linkedin-link {
    background-color: #2f80ed;
    color: #fff;
}

.contact-whatsapp-link {
    background-color: #25D366;
    color: black
}


.cv-container {
    gap: .75rem;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* sobre mi */

.cv-container,
.description-container, 
.projects-container, .div-contact-container{
    justify-content: center;
    background-color: var(--primary-color);
    width: 100%;
    margin: 0 auto;
}


.description-container,
.projects-container,
.div-contact-container {
    padding: 1.5rem;
}

.projects-container, .div-contact-container {
    display: grid;
   
}





.description-container h3, .projects-container h3, .div-contact-container h3{
    color: #fff;
    text-align: center;


}


.description-container p, .div-contact-container p, .contact-description p {
    margin: .75rem auto .75rem auto;
    color: #fff;
    text-align: center ;


}

.description-title,
.skills-title,
.soft-skills-title,
.projects-title,
.education-title {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;


}

.description-title img {
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

/* habilidades */


/*SKILLS*/


.skills {
    display: grid;
    justify-content: center;

}

.skills ul,
.cv-container {
    display: flex;
    flex-wrap: wrap;

    align-content: center;
    align-items: center;
    justify-content: center;
}

.skills-list li {
    font-size: 12px;
    list-style: none;
    padding: 0.2rem 0.6rem;
    margin-bottom: .5rem;
    margin-right: .5rem;

    background: rgba(153, 153, 153, .2);
    border-radius: 5px;
    font-weight: 500;
    color: #666;
    align-self: center;

}

.skills-list li:hover {
    background: rgba(153, 153, 153, .4);
    color: #333;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.skills-list li img {
    width: 18px;
    height: 18px;
    margin: .2rem;
    vertical-align: middle;
}

/* botones */
.download-cv {
    display: flex;
    /* Para alinear horizontalmente */
    align-items: center;
    align-content: center;
    gap: 0.5rem;
    background-color: #4CAF50;
    color: white;

    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .2s;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-left: .5rem;
    margin-right: .5rem;
}

.contact-email-link,
.contact-github-link,
.contact-linkedin-link,
.contact-whatsapp-link {

    border-radius: 10px;
    border-style: none;
    box-shadow: none;
    /* box-sizing: border-box; */
    cursor: pointer;
    display: inline-block; 
    font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif; 
    font-size: 15px;
    font-weight: 500;
    /* height: 50px; */
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .2s;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-left: .5rem;
    margin-right: .5rem;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.contact-email-link:hover {
    background-color: #b92c22;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.contact-github-link:hover {
    background-color: #c2c0c0c4;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.contact-linkedin-link:hover {
    background-color: #1552a3;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.download-cv:hover, .contact-whatsapp-link:hover {
    background-color: #439946;
    box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    opacity: 1;
    transition-duration: .35s;
}

.download-cv img {
    width: 26px;
    height: 26px;
}

.contact-email-link:after,
.contact-github-link:after,
.contact-linkedin-link:after,
.contact-whatsapp-link:after {
    opacity: .5;
}

.contact-email-link:active,
.contact-github-link:active,
.contact-linkedin-link:active,
.contact-whatsapp-link:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

/* education */

.education-container {

    width: 100%;
    justify-content: center;

}

.education-images {
    display: grid;
    gap: 1rem;
    column-gap: 1.5rem;
    justify-content: center;
    justify-self: center;
}

.education-images img {
    width: 100%;
    height: auto;

    max-width: 280px;
    border-radius: 10px;
    transition: 0.1s;
}


.education-images img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}


/* Sección educativa moderna */
.education-cards-div {
    padding: 1rem 1rem;
    max-width: 1700px;
    margin: 0 auto;
}

.div-title {

    text-align: center;
    margin-bottom: 2rem;
}

/* Grid de tarjetas */
.education-card-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/* Tarjeta individual */

.education-card {
    background-color: var(--primary-color);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    padding: 1.1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-card:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}

/* Texto */
.education-card h4 {
    font-size: 1.25rem;
    color: white;
    margin-bottom: 0.5rem;
}

.edu-institution {
    display: block;
    font-weight: 600;
    color: #2f80ed;
    margin-bottom: 0.3rem;
}

.edu-dates {
    display: block;
    font-size: 0.9rem;
    color: #929090;
    margin-bottom: 1rem;
}

.education-card ul {
    padding-left: 1.2rem;
    margin: 0;
}

.education-card li {
    font-size: 0.9rem;
    color: #dbd9d9;
    margin-bottom: 0.6rem;
    list-style: disc;
}


/* contact */

.contact-container img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    vertical-align: middle;
}


/* mas de mi */



.about-more-div {
    padding: 3rem 1rem;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.interests-grid { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 2rem;
}

.interest-card {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.interest-card:hover {
    transform: scale(1.05);
}

.interest-card img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    display: block;
}

.interest-card p {
    padding: 1rem;
    font-size: .7rem;
    color: #333;
}




/* galeria */


.gallery-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.gallery-grid img:hover {
    transform: scale(1.02);
    cursor: pointer;
}



/* footer*/

footer {
    font-weight: 500;
        font-size: 16px;
}


footer p {
    color: #fff;
    text-align: center;
}

.main-footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    font-size: 0.95rem;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: center;
}

.footer-left {
    flex: 1 1 50px;
}

.footer-logo {
    width: 120px;
    height: auto;
    margin-bottom: 1rem;
}

.footer-links {
    flex: 1 1 100px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: var(--accent-color);
}

.footer-social {
    flex: 1 1 100px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.footer-social img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s ease;
}

.footer-social img.no-invert {
    filter: none;
}

.footer-social img:hover {
    transform: scale(1.2);
}




/* reveal class */


.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}
  